In [1]:
n=int(input()) 
l1=list(map((int),input().split())) 
l2=sorted(list(set(l1))) 
print(l2[-2])

5
2 2 6 6 5
5

In [52]:
if __name__ == '__main__':
    d = {}
    for _ in range(int(input())):
        name = input()
        score = float(input())
        d[name] = score
d1 = sorted(d.items())
marks = [s for n,s in d1]
for a,b in d1:
    if b == marks[1]:
        print(a)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [56]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    avg = 0
    for n,m in student_marks.items():
        if n == query_name:
            avg = sum(m)/len(m)
            print("{:.2f}".format(avg))

3
krish 67 62 63
rish 80 69 62
Malika 52 56 60
Malika
56.00

In [57]:
n = int(input())
s = set(map(int, input().split()))
oper = int(input())
for i in range(oper):
    eval('s.{0}({1})'.format(*input().split()+['']))
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 9
discard 8
discard 7
pop
discard 6
remove 5
pop
4

In [61]:
print(len((set(input().split()) if input() != '-1' else '')|(set(input().split()) if input() != '-1' else '')))

9
1 2 3 4 5 6 7 8 9
10
11 10 1 2 3 6 7 55 22 8
13

In [62]:
n,m = input(),set(input().split())
a,b = input(),set(input().split())
print(len(m.union(b)))

9
1 2 3 4 5 6 7 8 9
10
11 10 1 2 3 6 7 55 22 8
13

In [67]:
m, base_set = input(), set(map(int, input().split()))
for i in range(0,int(input())):
    exec("base_set.{0}({1})".format(input().split()[0], set(map(int, input().split())) ))
print(sum(base_set))

{'H', 'a', 'c', 'e', 'k', 'r'}

In [68]:
600/1536

0.390625

In [92]:
#n = int(input())
k = int(input())
arr = list(map(int, input().split()))

myset = set(arr)
print(((sum(myset)*k)-(sum(arr)))//(k-1))

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [93]:
print(sum(myset)*k)

145

In [95]:
sum(myset)

29

In [96]:
1 2 3 4 5
100 11 12

113

In [102]:
s1 = set(map(int,input().split()))
print(not False in [set(map(int,input().split())) < s1 for _ in range(int(input()))])

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

In [ ]:
for _ in range(int(input())):
    a,A=int(input()),set(map(int,input().split()))
    b,B=int(input()),set(map(int,input().split()))
    if B==B.union(A):
        print(True)
    else:
        print(False)

In [107]:
n = int(input())
for i in range(1,n):
    print('i'*i)

5
1
4
9
16

In [108]:
'''ffff'''

'ffff'

In [109]:
"fff"

'fff'

In [110]:
4/2

2.0

In [111]:
4//2

2

In [116]:
a = int(input("enter 1 num "))
b = int(input("enter 2 num "))
if a>b:
    print(a)
else:
    print(b)

enter 1 num 90
enter 2 num 87
90

In [118]:
i =1
while i<=10:
    print(i,end="")
    i+=1

12345678910

In [121]:
n = 15
i = 2
while i<=(n//2):
    print(n)
    if n%i==0:
        print(i)
    i+=1

15
15
3
15
15
5
15
15

In [122]:
x = [1,2,3,4,4]
sum(x)

14

In [133]:
for n in range(10,20):
    for i in range(2,n//2+1):
        if n%i ==0:
            print(n, "not prime")
            break
    else:
        print(n, "prime")

10 not prime
11 prime
12 not prime
13 prime
14 not prime
15 not prime
16 not prime
17 prime
18 not prime
19 prime

In [144]:
for i in range(5):
    for j in range(5):
        print('A',end=" ")
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [148]:
for i in range(5):
    print("\n")
    for j in range(5):
        print("A",end=" ")

A A A A A

A A A A A

A A A A A

A A A A A

A A A A A

In [150]:
fruits = ['apple','banana','guava','orange','mango']
print(fruits[::-1])

['mango', 'orange', 'guava', 'banana', 'apple']

In [151]:
fruits.insert(4,'sapota')

In [152]:
print(fruits)

['apple', 'banana', 'guava', 'orange', 'sapota', 'mango']

In [153]:
fruits.index('guava')

2

In [154]:
fruits.remove('sapota')

In [155]:
print(fruits)

['apple', 'banana', 'guava', 'orange', 'mango']

In [159]:
fruits.remove('sapota')

ValueError: list.remove(x): x not in list

In [160]:
l = [1,2,3,4,4,5,3,2,1,3,4,5,6,7,7,8,8,8,8,9,10]
l.pop(3)

4

In [161]:
print(l)

[1, 2, 3, 4, 5, 3, 2, 1, 3, 4, 5, 6, 7, 7, 8, 8, 8, 8, 9, 10]

In [162]:
l.pop()

10

In [163]:
print(l)

[1, 2, 3, 4, 5, 3, 2, 1, 3, 4, 5, 6, 7, 7, 8, 8, 8, 8, 9]

In [168]:
d = {}
for i in l:
    d[i] = l.count(i)
print(d)

{1: 2, 2: 2, 3: 3, 4: 2, 5: 2, 6: 1, 7: 2, 8: 4, 9: 1}

In [169]:
print(l)

[1, 2, 3, 4, 5, 3, 2, 1, 3, 4, 5, 6, 7, 7, 8, 8, 8, 8, 9]

In [170]:
l.clear()

In [171]:
print(l)

[]

In [174]:
lst = []
for i in range(5):
    ele = int(input("enter element"))
    lst.append(ele)
print(lst)

enter element10
enter element20
enter element30
enter element40
enter element50
[10, 20, 30, 40, 50]

#### Binary to decimal
    - Ex: 1 0 0 1 0 =1 x 2 5 + 0 x 2 4 + 0 x 2 3 + 1 x 2 2 +  0 x 2 1

In [216]:
n = 10100
s = 0
i=0
while(n != 0): 
    r = n % 10
    s = s + r * pow(2, i) 
    n = n//10
    i += 1
print(s)

20

In [202]:
def btd(n):
    return int(n,2)

In [205]:
btd('1001')

9

In [217]:
int('10100',2)

20

#### Generate first N number of Fibonacci numbers. Take N value from user

In [232]:
n = int(input("enter a number"))
n1 ,n2 = 0,1
count = 0
if n<=0:
    print("please enter positive number")
if n==1:
    print("Fibonacci sequence for",n,"terms is",n1)
while count < n:
    print(n1)
    n3 = n1+n2
    n1 = n2
    n2 = n3
    count += 1

enter a number7
0
1
1
2
3
5
8

#### Take N number of marks and names from user and display the names of  failed (marks<40). Take N value from user

In [251]:
d = {}
for i in range(5):
    m = int(input())
    s = input()
    d[s] = m
d

40
sariyu
39
geetha
36
snigdha
42
deepu
56
harsha

{'sariyu': 40, 'geetha': 39, 'snigdha': 36, 'deepu': 42, 'harsha': 56}

In [257]:
for a,b in d.items():
    if b<40:
        print(a)

geetha
snigdha

#### Display multiplication table of K. Take k value from user

In [269]:
n1,n2 = int(input()),int(input())
for i in range(1,11):
    for j in range(n1,n2):
        print(j,'X',i,'=',i*j,end="\t")
    print('')

2
9
2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72
2 X 10 = 20	3 X 10 = 30	4 X 10 = 40	5 X 10 = 50	6 X 10 = 60	7 X 10 = 70	8 X 10 = 80

#### Roots of quadratic equation Take the coefficients a,b,c from user

In [340]:
#ax2 + bx + c = 0, where a, b and c are real numbers and a â‰  0
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [270]:
y = [12,13,23,24,56,14]
z = y.copy()

In [271]:
print(z)

[12, 13, 23, 24, 56, 14]

In [272]:
y.append(26)

In [273]:
print(y)
print(z)

[12, 13, 23, 24, 56, 14, 26]
[12, 13, 23, 24, 56, 14]

In [274]:
y.extend([2,1,3])

In [275]:
print(y)

[12, 13, 23, 24, 56, 14, 26, 2, 1, 3]

In [276]:
y[3] = [4,5,6]

In [277]:
print(y)

[12, 13, 23, [4, 5, 6], 56, 14, 26, 2, 1, 3]

In [285]:
mat = [[1,2,3],[4,5,6],[7,8,9]]
for i in mat:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [283]:
l = []
s = 0
for i in mat:
    for j in i:
        s = s+j
    l.append(s)
print(l)

[6, 21, 45]

In [287]:
even = list(range(0,20,2))
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [290]:
double_even = list(map(lambda x: x*2,even)) #map(function,list)
print(double_even)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [291]:
def double(x):
    return x*2

In [295]:
d_e = list(map(double,even))
print(d_e)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [299]:
large_value = list(filter(lambda x:x>10,even))  #filter(function,sequence)
print(large_value)

[12, 14, 16, 18]

In [300]:
#display multiples of 5 from 50 to 100
l = list(filter(lambda x:x%5==0,range(50,100+1)))
print(l)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#### Stack

In [301]:
#Stack-list of values-insert & delete from last
x = [1,2,3,4,5,6]
#insert/push an element in stack
x.append(8)
x.append(10)
print(x)

[1, 2, 3, 4, 5, 6, 8, 10]

In [302]:
#delete last element
x.pop()
print(x)

[1, 2, 3, 4, 5, 6, 8]

#### Queue

In [303]:
#insert last element and delete first element
x.append(45)
print(x)

[1, 2, 3, 4, 5, 6, 8, 45]

In [304]:
x.pop(0)
print(x)

[2, 3, 4, 5, 6, 8, 45]

In [305]:
#efficient way of implementing queues
from collections import deque
d = deque([2,4,6,8])
d.append(10)
print(d)

deque([2, 4, 6, 8, 10])

In [306]:
d.popleft()
print(d)

deque([4, 6, 8, 10])

#### List Comprehension

In [312]:
l1 = [i+i for i in range(5) if i%2==0]
l1

[0, 4, 8]

In [313]:
p = [(a,b) for a in [1,2,3] for b in [5,6,7,8]]
print(p)

[(1, 5), (1, 6), (1, 7), (1, 8), (2, 5), (2, 6), (2, 7), (2, 8), (3, 5), (3, 6), (3, 7), (3, 8)]

#### String

In [323]:
s = "hello world"
print(s[-3:])

rld

In [324]:
s2 = s.upper()
print(s2)

HELLO WORLD

In [327]:
s1 = s.replace('d','9')
print(s1)

hello worl9

In [325]:
print(s)

hello world

In [328]:
list(s)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [330]:
l1 = s.split()
print(l1)

['hello', 'world']

In [332]:
fruits = ["apple","mango","guava"]
for i in fruits:
    print(list(i))

['a', 'p', 'p', 'l', 'e']
['m', 'a', 'n', 'g', 'o']
['g', 'u', 'a', 'v', 'a']

In [333]:
f = [list(i) for i in fruits]
print(f)

[['a', 'p', 'p', 'l', 'e'], ['m', 'a', 'n', 'g', 'o'], ['g', 'u', 'a', 'v', 'a']]

In [335]:
s1 = "swathi reddy"
s2 = "raja reddy"
print(s1+" "+s2)

swathi reddy raja reddy

In [337]:
x = 100
s = "string"
print(s+str(x))

string100

In [339]:
x,y = 10,20
print("{0},{1}".format(y,x))

20,10

In [341]:
s = ""
if s:
    print(True)
print(False)

False

In [343]:
s = "something"
if s:
    print(True)
else:
    print(False)

True

In [345]:
for i in range(5):
    print(i,end="")
#print(i)

01234